<div class="container">
  <div class="content">
    <div class="collection-buttons">
      <a routerLink="/customers" class="collection-button">Customers</a>
      <a routerLink="/materials" class="collection-button">Materials</a>
      <a routerLink="/manufacturers" class="collection-button">Manufacturers</a>
      <a routerLink="/furniture" class="collection-button">Furniture</a>
      <a routerLink="/purchases" class="collection-button">Purchases</a>  
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>